/* 기본 텍스트 스타일 */
span,
a {
    color: rgba(24, 23, 28, 1);
}

/* 배경 설정 */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/유미.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* 모바일 컨테이너 */
.mobile-container {
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    background-color: #f9fafb;
    padding: 0px;
    padding-bottom: 70px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    /* 스크롤 가능하게 설정 */
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; 
}

/* Chrome, Safari에서 스크롤바 안 보이게 */
.mobile-container::-webkit-scrollbar {
    display: none;
}

@media (max-width: 600px) {
    .mobile-container {
        margin: 0 auto;
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.button--close {
    border: none;
    background-color: #f9fafb;
    font-size: 30px;
    position: relative;
    left: 15px;
    top: 10px;
}

/* 네비게이션 바 */
.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.nav-bar__item {
    width: 240px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar__link {
    position: relative;
    display: inline-block;
    text-align: center;
    color: rgba(24, 23, 28, 1);
    text-decoration: none;
    font-weight: bold;
    padding: 4px 50px;
}

.nav-bar__link:hover {
    color: rgba(24, 23, 28, 1);
}

/* 밑줄 효과 */
.nav-bar__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; /* 밑줄을 아래로 */
    width: 100%;
    height: 2px;
    background-color: rgba(225, 25, 35, 1);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
}

.nav-bar__link:hover::after {
    transform: scaleX(1);
}

.edit-profile {
    background-color: #f9fafb;
    padding: 0px 50px 50px;
    text-align: center;
    position: relative;
    top: 30px;
}

.profile-section__title {
    font-size: 25px;
    font-weight: bold;
}

.button--profile {
    background-color: #f9fafb;
    color: rgba(225, 25, 35, 1);
    border: none;
    font-size: 130px;
}

/* 프로필 수정 섹션 */
.profile-section--personal {
    display: none;
}

/* 프로필 수정 폼 */
.edit-profile-form {
    margin-top: 30px;
    text-align: left;
    max-width: 305px;
    margin-left: auto;
    margin-right: auto;
}

.form-label {
    font-size: 10px;
    font-weight: bold;
    color: rgba(225, 25, 35, 1);
    letter-spacing: 1px;
    margin-bottom: 4px;
}

/* 입력 필드 */
input[type="text"],
input[type="password"] {
    background-color: #f9fafb;
    border: none;
    border-bottom: 2px solid rgba(225, 25, 35, 1);
    border-radius: 0;
    font-weight: bold;
    outline: none;
    padding-left: 3px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    box-shadow: none;
    border-color: rgba(225, 25, 35, 1);
    background-color: #f9fafb;
}

.form-control {
    height: 38px;
}

/* 중복확인 버튼 */
.duplicate-check-btn {
    position: relative;
    bottom: 0px;
    border-color: rgba(225, 25, 35, 1);
    color: rgba(225, 25, 35, 1);
    font-size: small;
    height: 38px;
}

.duplicate-check-btn:hover {
    background-color: rgba(225, 25, 35, 1);
    color: #f9fafb;
    border-color: rgba(225, 25, 35, 1);
}

/* 주민번호 입력 */
.input-birth-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

#residentIdFront {
    width: 80px;
    text-align: center;
}

#residentIdBack {
    width: 36px;
    text-align: center;
}

.hyphen {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.mask {
    letter-spacing: 2px;
    color: rgba(24, 23, 28, 1);
}

/* 저장 버튼 */
.btn-outline-primary {
    width: 100%;
    height: 40px;
    border-color: rgba(225, 25, 35, 1);
    color: rgba(225, 25, 35, 1);
    border-radius: 0;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: rgba(225, 25, 35, 1);
    color: #f9fafb;
}

/* 게임 프로필 탭 */
.edit-game-profile {
    position: relative;
    top: 30px;
    justify-content: center;
    display: flex;
}

.edit-game-profile-form {
    position: absolute;
    width: 480px;
    height: auto;
    margin-top: 100px;
    z-index: 1;
}

/* 게임 프로필 입력 폼 */
.edit-game-profile-form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label {
    font-size: 10px;
    font-weight: bold;
    color: rgba(225, 25, 35, 1);
    letter-spacing: 1px;
    margin-bottom: 4px;
}

/* 입력 필드 */
.edit-game-profile-form-input input[type="text"] {
    background-color: #f9fafb;
    border: none;
    border-bottom: 2px solid rgba(225, 25, 35, 1);
    border-radius: 0;
    font-weight: bold;
    outline: none;
    padding-left: 3px;
    width: 330px;
    margin-bottom: 20px;
    font-size: 16px;
}

.edit-game-profile-form-input input[type="text"]:focus {
    box-shadow: none;
    border-color: rgba(225, 25, 35, 1);
    background-color: #f9fafb;
}

/* 저장 버튼 */
.btn-outline-primary {
    width: 330px;
    height: 40px;
    border-color: rgba(225, 25, 35, 1);
    color: rgba(225, 25, 35, 1);
    border-radius: 0;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: rgba(225, 25, 35, 1);
    color: #f9fafb;
}

.input-line {
    width: 70%;
    height: 65px;
    margin-bottom: 25px;
    padding: 12px 16px;
    border: 1.5px solid rgba(200, 200, 200, 0.7);
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.input-line:hover {
    border-color: rgba(225, 25, 35, 1);
    box-shadow: 0 4px 8px rgba(225, 25, 35, 0.1);
    cursor: pointer;
}

.input-line-box {
    display: flex;
    justify-content: left;
    align-items: center;
}

.input-line-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 290px;
}

.line {
    color: rgba(24, 23, 28, 1);
}

.line-question {
    font-size: 15px;
    font-weight: 600;
    color: rgba(24, 23, 28, 1);
}

.my-line {
    font-size: 14px;
    color: rgba(150, 150, 150, 1);
}

.input-position-btn {
    font-size: 20px;
    color: rgba(200, 200, 200, 1);
    transition: color 0.2s;
}

.input-line:hover .input-position-btn {
    color: rgba(225, 25, 35, 1);
}

/* 모달 시작 */
/* js로 .modal-step--main은 display:none으로,
   .modal-step--sub는 disply:block으로 바꾸면 됨 */
.modal-step {
    width: 100%;
    max-width: 480px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    animation: slideUp 0.3s ease-out;
}

/* 처음엔 부포지션 모달은 숨김 */
.modal-step--main {
    display: none;
}

.modal-step--sub {
    display: none;
}

.modal-step--time {
    display: none;
}

/* 모달 전체 배경 (어두운 반투명) */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 전체 모바일 화면 덮음 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 회색 반투명 */
    z-index: 10;
    justify-content: center;
    align-items: flex-end;
    /* 하단에 고정 */
    display: none;
    /* JS로 display: flex 처리 */
}

/* 모달 박스 내용 */
.modal-content {
    width: 100%;
    max-width: 100%;
    /* 480px 대신 100%로 설정 */
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    animation: slideUp 0.3s ease-out;
}

/* 모달 슬라이드 애니메이션 */
@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

/* 메인 버튼들 */
.modal-buttons--main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* 서브 버튼들 */
.modal-buttons--sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-top: 50px;
    margin-bottom: 40px;
}

/* 요일 버튼들 */
.day-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
}

.day-option {
    padding: 8px 12px;
    margin: 4px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgba(225, 25, 35, 1);
    color: rgba(225, 25, 35, 1);
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.day-option:hover {
    background-color: rgba(225, 25, 35, 1);
    color: #f9fafb;
}

.form-time {
    margin-bottom: 50px;
}

.day-option.selected {
    background-color: #333;
    color: white;
    font-weight: bold;
}

.position-option {
    flex: 0 0 calc(33.333% - 12px);
    padding: 20px 0;
    border-radius: 8px;
    background-color: #f5f5f5;
    border: 1.5px solid rgba(180, 180, 180, 0.6);
    text-align: center;
    font-weight: 500;
    color: #18171C;
    transition: all 0.2s ease;
}

.position-option:hover {
    background-color: rgba(225, 25, 35, 0.06);
    border-color: #E11923;
    color: #E11923;
    cursor: pointer;
}

.modal-skip-button {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.skip {
    flex: 0 0 calc(33.333% - 12px);
    padding: 8px 0;
    background-color: #f5f5f5;
    border: 1.5px solid rgba(180, 180, 180, 0.6);
    text-align: center;
    font-weight: 500;
    color: #18171C;
    transition: all 0.2s ease;
}

.skip:hover {
    background-color: rgba(225, 25, 35, 0.06);
    border-color: #E11923;
    color: #E11923;
    cursor: pointer;
}

/* 제목 */
.modal-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
}